{% extends "layout.html" %}
{% block title %}index{% endblock %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
{% endblock %}
{% block body %}

{% for tty in ttys %}
<fieldset>
  <legend><a href="/w{{ tty }}" title="Connect to {{ tty}}">{{ tty }}</a></legend>
  
  <table>
  <thead>
    <tr><td>Filename</td><td>Size</td><td>Last Modified</td></tr>
  </thead>
  <tfoot />
  <tbody>
  {% for fname, nbytes, lmod in listing[tty] %}
  <tr><td><a href="{{ fname }}" title="Download {{fname}}">{{ fname }}</a></td><td>{{ nbytes | filesizeformat }}</td><td>{{ lmod }}</td></tr>
  {% else %}
  <tr><td colspan="3">None available</td></tr>
  {% endfor %}
  </tbody>
  </table>

</fieldset>

{% else %}
  <em>No ttys configured.</em>
{% endfor %}

{% endblock %}
