{% extends "layout.html" %}
{% block title %}index{% endblock %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
{% endblock %}
{% block body %}

{% for tty in ttys %}
<h2><a href="/w{{ tty }}">{{ tty }}</a></h2>

{% for fname in listing[tty] %}
{{ fname }}<br />
{% endfor %}

{% else %}
  <li><em>No ttys configured.</em>
{% endfor %}

{% endblock %}
